<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página Inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../assets/imagem-home.png"></ion-img>
    <ion-card-content>
      <ion-card-title style="text-align: center;">Beleza On Demand</ion-card-title>
      <br>
      <p style="text-align: justify;">Este aplicativo de Estética oferece aos seus usuários acesso
      a toda gama de profissionais disponíveis na região bem como ao portfólio dos mesmos</p>
    </ion-card-content>
  </ion-card>
</ion-content>
